{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<title>Task Master</title>
{% endblock %}

{% block body %}
<div id="div-body">
    <div class="form-body">
        <img src="{{ url_for('static', filename='css/img/219983.png') }}" alt="user-login">
        <p class="text">Bienvenido a Task Master</p>
        <form class="login-form" action="/" method="POST">
            <input type="text" placeholder="Username" name="username" id="username">
            <input type="password" placeholder="Password" name="password" id="password">
            <button>Log In</button>
        </form>
        <form action="/register" class="login-form">
            <p>Don't have an account?</p>
            <button>Register</button>
        </form>
    </div>
</div>
{% endblock %}