{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<title>Task Master</title>
{% endblock %}

{% block body %}
<div id="div-body">
    <div class="form-body">
        <p class="text">Registro</p>
        <form class="login-form" action="/register" method="POST">
            <input class="reg-form" type="text" placeholder="Username" name="username" id="username">
            <input class="reg-form" type="password" placeholder="Password" name="password" id="password">
            <input class="reg-form" type="password" placeholder="Confirm Password" name="password1" id="password1">
            <button>Create Account</button>
        </form>
        <form action="/" class="login-form">
            <p>Already have an account?</p>
            <button>Log In</button>
        </form>
    </div>
</div>
{% endblock %}